<a href="https://colab.research.google.com/github/Dorthi12/uidai-2026/blob/main/datapreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

files = [
    "api_data_aadhar_demographic_0_500000.csv",
    "api_data_aadhar_demographic_500000_1000000.csv",
    "api_data_aadhar_demographic_1000000_1500000.csv",
    "api_data_aadhar_demographic_1500000_2000000.csv",
    "api_data_aadhar_demographic_2000000_2071700.csv"
]

df = pd.concat((pd.read_csv(f) for f in files), ignore_index=True)

# Save combined dataset
df.to_csv("aadhar_demographic_full.csv", index=False)

print("Merged successfully:", df.shape)

Merged successfully: (236947, 6)

In [ ]:
df.head()

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,Uttar Pradesh,Gorakhpur,273213.0,49.0,529.0
1,01-03-2025,Andhra Pradesh,Chittoor,517132.0,22.0,375.0
2,01-03-2025,Gujarat,Rajkot,360006.0,65.0,765.0
3,01-03-2025,Andhra Pradesh,Srikakulam,532484.0,24.0,314.0
4,01-03-2025,Rajasthan,Udaipur,313801.0,45.0,785.0

In [ ]:
# Show null counts by column before any cleaning
null_counts = df.isnull().sum().sort_values(ascending=False)
print("Null values before preprocessing:\n", null_counts)

# Also show percentage of nulls (optional but useful)
null_percent = (df.isnull().mean() * 100).sort_values(ascending=False)
print("\nNull % by column:\n", null_percent)

Null values before preprocessing:
 demo_age_17_     5
demo_age_5_17    4
pincode          2
state            1
district         1
date             0
dtype: int64

Null % by column:
 demo_age_17_     0.002110
demo_age_5_17    0.001688
pincode          0.000844
state            0.000422
district         0.000422
date             0.000000
dtype: float64

In [ ]:
df["date"] = (
    df["date"]
    .astype(str)
    .str.strip()
)

df["date"] = pd.to_datetime(
    df["date"],
    errors="coerce",
    dayfirst=True
)

# Convert to YYYY-MM-DD string format
df["date"] = df["date"].dt.strftime("%Y-%m-%d")

In [ ]:
group_cols = ["date", "state", "district", "pincode"]

In [ ]:
value_cols = ["demo_age_5_17", "demo_age_17_plus"]

In [ ]:
df = (
    df
    .groupby(group_cols, as_index=False)[value_cols]
    .sum()
)

In [ ]:
df = df.fillna(0)

In [ ]:
df.isnull().sum()

date                0
state               0
district            0
pincode             0
demo_age_5_17       0
demo_age_17_plus    0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288904 entries, 0 to 288903
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   date              288904 non-null  object
 1   state             288904 non-null  object
 2   district          288904 non-null  object
 3   pincode           288904 non-null  object
 4   demo_age_5_17     288904 non-null  float64
 5   demo_age_17_plus  288904 non-null  float64
dtypes: float64(2), object(4)
memory usage: 13.2+ MB

In [ ]:
df.head()

,date,state,district,pincode,demo_age_5_17,demo_age_17_plus
0,2025-01-03,Andhra Pradesh,Adilabad,504201,21.0,206.0
1,2025-01-03,Andhra Pradesh,Adilabad,504295,11.0,177.0
2,2025-01-03,Andhra Pradesh,Alluri Sitharama Raju,531029,27.0,302.0
3,2025-01-03,Andhra Pradesh,Alluri Sitharama Raju,531040,14.0,454.0
4,2025-01-03,Andhra Pradesh,Alluri Sitharama Raju,531077,26.0,354.0

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df.to_csv("aadhar_demographic_final.csv", index=False)